body{
  background: #DADED4;
}

.sidebar {
  width: 25%;
  height: 110%;
  top:0%;
  left:0%;
  position: fixed;
  background: #01b8aa;
}

.sidebar-button{
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.25vw 0.75vw;
  font-size: 1.5vw;
  text-align: center;
  font-family: verdana;
  color: #28383c;
  display: block;
}
.add-button{
  margin:auto;
  margin-left:13%;
  padding: 0.001vw 0.375vw;
  font-size: 1.12vw;
}

.delete{
  font-size: 1.12vw;
}

.employee-alignment{
  top: 40%;
}

.left-align{
	text-align:left;
}
.student-alignment{
  top: 50%;
}

body button:hover {
  color: #fd625e;
}

.grid-container{
  margin:auto;
  position: absolute;
  top: 5%;
  left: 28.5%;
  height:40%;
  width:66.4%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  background: #01b8aa;
  padding: 0.375vw;
  font-size: 1.2vw;
  color: #28383c;
  text-align: center;
  font-family: verdana;
}

.grid-item {
  border: 0.150vw solid #FFFFFF;
  padding: 1vw;
}

.bold{
  font-weight: bold;
}
.new-employee {
  margin:auto;
  position: absolute;
  top: 60%;
  left: 28.5%;
  font-family: verdana;
  font-size: 1.5vw;
  color: #28383c;
}

.new-employee-button{
  position: absolute;
  top:52%;
  left:50%;
  width:20%;
}
.new-employee-form{
  margin:auto;
  position: absolute;
  top:65%;
  left:28.5%;
  font-family: verdana;
  text-align: center;
  height: 30%;
  width: 68.3%;
  color: #28383c;
  line-height:420%;
  background-color: #01b8aa;
}
input[type=text],button{
  border: 0.075vw solid #ccc;
  border-radius: 0.300vw;
  box-sizing: border-box;
  resize: horizontal;
}
.input-in-form{
  font-size:1.12vw;
  width:20%;
  height:2%;
}
.form{
  margin-left: 1%;
  font-size:1.12vw;
}
.Area-form{
  margin-left: 2%;
}
.ID-form{
  margin-left: 4%;
}
form{
  text-align: left;
}
