<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a1eaa2">  <td>20/11/07 12:06:24</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personCreationTest()[pri:1, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@731a74c]">personCreationTest</td> 
  <td>main@1991294891</td>   <td></td> </tr>
<tr bgcolor="a1eaa2">  <td>20/11/07 12:06:25</td>   <td>212</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personCreationTest1()[pri:2, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@731a74c]">personCreationTest1</td> 
  <td>main@1991294891</td>   <td></td> </tr>
<tr bgcolor="a1eaa2">  <td>20/11/07 12:06:25</td>   <td>422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personCreationTest2()[pri:3, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@731a74c]">personCreationTest2</td> 
  <td>main@1991294891</td>   <td></td> </tr>
<tr bgcolor="a1eaa2">  <td>20/11/07 12:06:25</td>   <td>469</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personCreationTest3()[pri:4, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@731a74c]">personCreationTest3</td> 
  <td>main@1991294891</td>   <td></td> </tr>
<tr bgcolor="a1eaa2">  <td>20/11/07 12:06:25</td>   <td>913</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personDeleteTest()[pri:13, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@731a74c]">personDeleteTest</td> 
  <td>main@1991294891</td>   <td></td> </tr>
<tr bgcolor="a1eaa2">  <td>20/11/07 12:06:26</td>   <td>1225</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personDeleteTest1()[pri:14, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@731a74c]">personDeleteTest1</td> 
  <td>main@1991294891</td>   <td></td> </tr>
<tr bgcolor="a1eaa2">  <td>20/11/07 12:06:25</td>   <td>657</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personReadAllTest()[pri:8, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@731a74c]">personReadAllTest</td> 
  <td>main@1991294891</td>   <td></td> </tr>
<tr bgcolor="a1eaa2">  <td>20/11/07 12:06:25</td>   <td>603</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personReadTest()[pri:5, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@731a74c]">personReadTest</td> 
  <td>main@1991294891</td>   <td></td> </tr>
<tr bgcolor="a1eaa2">  <td>20/11/07 12:06:25</td>   <td>637</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personReadTest1()[pri:7, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@731a74c]">personReadTest1</td> 
  <td>main@1991294891</td>   <td></td> </tr>
<tr bgcolor="a1eaa2">  <td>20/11/07 12:06:25</td>   <td>617</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personReadTest2()[pri:6, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@731a74c]">personReadTest2</td> 
  <td>main@1991294891</td>   <td></td> </tr>
<tr bgcolor="a1eaa2">  <td>20/11/07 12:06:25</td>   <td>681</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personUpdationTest()[pri:9, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@731a74c]">personUpdationTest</td> 
  <td>main@1991294891</td>   <td></td> </tr>
<tr bgcolor="a1eaa2">  <td>20/11/07 12:06:25</td>   <td>811</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personUpdationTest1()[pri:10, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@731a74c]">personUpdationTest1</td> 
  <td>main@1991294891</td>   <td></td> </tr>
<tr bgcolor="a1eaa2">  <td>20/11/07 12:06:25</td>   <td>829</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personUpdationTest2()[pri:11, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@731a74c]">personUpdationTest2</td> 
  <td>main@1991294891</td>   <td></td> </tr>
<tr bgcolor="a1eaa2">  <td>20/11/07 12:06:25</td>   <td>891</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PersonServiceTestCase.personUpdationTest3()[pri:12, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@731a74c]">personUpdationTest3</td> 
  <td>main@1991294891</td>   <td></td> </tr>
<tr bgcolor="a1eaa2">  <td>20/11/07 12:06:24</td>   <td>-18</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;PersonServiceTestCase.setup()[pri:0, instance:com.kpr.training.jdbc.test_case.PersonServiceTestCase@731a74c]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1991294891</td>   <td></td> </tr>
</table>
